<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="blog">
          <span class="fa fa-comment fa-lg main-list-item-icon"></span>
          Blog
        </h2>
        <br>
        <p class="lead text-left">
         The Romantic Side of me. I talk about love, poems, a short motivational story, and the arts (some of the edited pictures):
          <a class="blog" href="https://cevi-herdian.tumblr.com/" target="_blank">Pengendali hati</a>.
        </p>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
