<footer>
   <div class="container">
    <div class="row">

      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">

        <h4><strong>Contact Info</strong>
        </h4>
        <p><a id="icon" href="https://www.berkeley.edu/map?evans" target="_blank"><i class="fa fa-map-marker fa-fw fa-1x"></i></a>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i> {{ site.email }}
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a id="icon" href="https://itsmecevi.github.io/" target="_blank"><i class="fa fa-id-badge fa-fw fa-2x">My page</i></a>
          </li>
           
           
            <li>
            <a id="icon" href="https://github.com/itsmecevi" target="_blank"><i class="fa fa-github fa-fw fa-2x"></i>My Github</a>
          </li>
          <li>
            <a id="icon" href="https://github.com/itsmecevi" target="_blank"><i class="fa fa-github fa-fw fa-2x"></i>My Github</a>
          </li>
          <li>
            <a id="icon" href="https://www.linkedin.com/in/cevi-herdian-ba83a9a2/" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x"></i>My Linkedin</a>
          </li>
           <li>
            <a id="icon" href="https://www.xing.com/profile/Cevi_Herdian/cv" target="_blank"><i class="fa fa-xing fa-fw fa-2x"></i>My Xing</a>
          </li>
        </ul>
        <hr>
       <div class="footer">
    <p>&copy; 2018, Cevi Herdian <img class="emojidex-emoji" src="https://cdn.emojidex.com/emoji/mdpi/heartbeat.png" emoji-code="heartbeat" emoji-moji="💓" alt="heartbeat" /> Data Analyst-BI.</p>
</div>

      </div>
      <div class="col-md-2"></div>

    </div>
  </div>
</footer>
