<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h1>Gertaone Applied Research</h1>
        <hr>
        <p class="lead text-left">
        </p>
        <p class="lead text-left">
          
          
          
          
          <b>Data-Driven Company :=  </b>
          
         <ul class="lead text-left" style="list-style-image: url(https://assets.ubuntu.com/sites/ubuntu/latest/u/img/favicon.ico);">
            <li>
              Gertaone Hedge Fund&#10145; Hedge Fund IdeaLab
            </li>
           <Br>
            <li>
              Gertaone Business Intelligence&#10145; Data-Driven IT Infrastructure
            </li>
             <Br>
            <li>
              Gertaone Analytics&#10145; Data-Driven Research & Consulting
            </li>
             <Br>
            <li>
              Gertaone Digital&#10145; Agile (Scrum & Kanban) Web & Apps Products
            </li>
                <Br>
           <!---<li>
             Resizethebooks.Id &#10145; Netflix of Knowledge, Repackage contents in the Greatest Books (soon)
            </li>-->
                   <Br>
           <!---<li>
              CodeFreeDataScience.Id &#10145; Training the Data Science without Coding (soon)
            </li>-->
                     
            <!--
            <li>
              Presently Data Science intern in 
               <a href="https://www.deutschebahn.com/en/group">Deutsche Bahn Headquarters</a> 
            </li> -->
           
          
         
          </ul>
        </p>
      </p>
    
    
       <!-- <p class="lead text-left">
         📘	🏫 📝 Because of my interest in Data Analyst field, it is important to me to step further my knowledge. Thats why I take some of “Data Analyst & Business Intelligence” <a href="https://en.wikipedia.org/wiki/Massive_open_online_course">MOOC</a> (Massive Open Online Courses) till now. <a href="https://itsmecevi.gitbook.io/cert/">Here is the link for Certification</a>.
        </p>
        <p class="lead text-left">
          This is my personal web where I try to put 
          all my work and ideas in order (which is easier said than done 😭). See my personal curriculum vitae:
           <ul class="lead text-left" >
             <li>
              Web resume (English)
              </li>
            <li>
              Short form CV (English)
              </li>
           <li>
              Long form curriculum vitae (English)
             </li>
              <li>
              Kurzform Lebenslauf (Germany)
             </li>
           <li>
              Langform Lebenslauf (Germany)
             </li> -->
            </ul>
        </p>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
