<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h1>Data Analyst & BI Enthusiast</h1>
        <hr>
        <p class="lead text-left">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </p>
        <p class="lead text-left">
          Hello, my name is Cevi Herdian:=
          <ul style="list-style-type:circle">
            <li>
              Data Analyst & Business Intelligence Enthuasiast
            </li>
            <li>
              Currently a postgraduate Student Financial Services & Risk Management in Berlin University of Applied Sciences
            </li>
            <li>
              Presently Working Student in ZHV1 & HRZ & KONTAKT projects
            </li>
          </ul>
        </p>
        <p class="lead text-left">
         📘 Because of my interest in Analytics field, it is important to me to step further my knowledge. Thats why I take some of “Data Analyst & Business Intelligence” MOOC (Massive Open Online Courses) till now. Here is the link for Certification.
        </p>
        <p class="lead text-left">
          This is my personal web where I try to put 
          all my work and ideas in order (which is easier said than done).
        </p>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
