<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h1>Code Free Data Science</h1>
        <hr>
        <p class="lead text-left">
        </p>
        <p class="lead text-left">
          
          
          
          
          <b></b>
          
         <ul class="lead text-left">
           <!--- <li>
              Backed freshly from the founder, <a href="https://itsmecevi.github.io/">itsmecevi.github.io</a> and his networking in Germany
            </li>-->
           <Br>
           <li>
              This online CFDS Bootcamp will bring you 2MTN. A Mindset, Methods, Tools, and Network to your data science journey without coding.
            </li>
             <Br>
           <li>
              Inspired by Germany <a href="https://de.wikipedia.org/wiki/Volkshochschule">"Volkshochschule"</a> : A Non-Degree Program Education System 
            </li>
                <Br>
           <!---<li>
             Resizethebooks.Id &#10145; Netflix of Knowledge, Repackage contents in the Greatest Books (soon)
            </li>-->
                   <Br>
           <!---<li>
              CodeFreeDataScience.Id &#10145; Training the Data Science without Coding (soon)
            </li>-->
                     
            <!--
            <li>
              Presently Data Science intern in 
               <a href="https://www.deutschebahn.com/en/group">Deutsche Bahn Headquarters</a> 
            </li> -->
           
          
         
          </ul>
        </p>
      </p>
    
    
       <!-- <p class="lead text-left">
         📘	🏫 📝 Because of my interest in Data Analyst field, it is important to me to step further my knowledge. Thats why I take some of “Data Analyst & Business Intelligence” <a href="https://en.wikipedia.org/wiki/Massive_open_online_course">MOOC</a> (Massive Open Online Courses) till now. <a href="https://itsmecevi.gitbook.io/cert/">Here is the link for Certification</a>.
        </p>
        <p class="lead text-left">
          This is my personal web where I try to put 
          all my work and ideas in order (which is easier said than done 😭). See my personal curriculum vitae:
           <ul class="lead text-left" >
             <li>
              Web resume (English)
              </li>
            <li>
              Short form CV (English)
              </li>
           <li>
              Long form curriculum vitae (English)
             </li>
              <li>
              Kurzform Lebenslauf (Germany)
             </li>
           <li>
              Langform Lebenslauf (Germany)
             </li> -->
            </ul>
        </p>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
