<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="Projects">
          <span class="fa fa-picture-o fa-lg main-list-item-icon"></span>
          Supported by
        </h2>
        <br>
        <p class="lead text-left">
          
        </p>
        <ul class="lead text-left">
         
          <li><a class="talks" href="https://indohub.org/" target="_blank">INDOHUB E.V. Berlin</a></li>
          <li><a class="talks" href="https://pasundan.jabarekspres.com/" target="_blank">Pasundan Jabar Ekspress</a></li>
          <li><a class="talks" href="https://www.knime.com" target="_blank">KNIME Academic Alliance</a></li>
          <li><a class="talks" href="https://usbypkp.ac.id/" target="_blank">Sangga Buana Institut</a></li>
          <li><a class="talks" href="http://mm.fe.unpad.ac.id/en/" target="_blank">Magister Manajemen Unpad</a></li>
         <li><a class="talks" href="http://digits.feb.unpad.ac.id/" target="_blank">Digits Unpad</a></li>
         
          
          
          
          
          
          
            <!--<li><a class="talks" href="https://docs.google.com/presentation/d/1sO28nIDOk9kgbplwrBjpip7HENLba8m7YQKm6j4bAug/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Keep in mind these 5 things ...</b></a> (Oniris, Nantes).</li>-->
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
