<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="Projects">
          <span class="fa fa-picture-o fa-lg main-list-item-icon"></span>
          Projects
        </h2>
        <br>
        <p class="lead text-left">
          
        </p>
        <ul class="lead text-left">
         
          <li><a class="talks" href="https://www.htw-berlin.de/" target="_blank">HTW Berlin - University of Applied Sciences</a></li>
          <li><a class="talks" href="https://www.omnea.de/" target="_blank">Omnea GmbH</a></li>
          <li><a class="talks" href="http://ppi-berlin.org//" target="_blank">PPI Berlin-Brandenburg</a></li>
          <li><a class="talks" href="http://ppi-berlin.org//" target="_blank">IWKZ</a></li>
          <li><a class="talks" href="https://kemlu.go.id/berlin/id" target="_blank">Embassy of the Republic of Indonesia in Berlin</a></li>
          <li><a class="talks" href="https://trademachines.com/" target="_blank">Trademachines GmbH</a></li>
          <li><a class="talks" href="https://www.htw-berlin.de/einrichtungen/zentrale-hochschulverwaltung/personal/controllingstatistik/" target="_blank">Controlling & Statistics</a></li>
           <li><a class="talks" href="https://www.htw-berlin.de/einrichtungen/zentrale-referate/kooperationszentrum-wissenschaft-praxis/" target="_blank">Kooperationszentrum Wissenschaft-Praxis</a></li>
          <li><a class="talks" href="https://www.deutschebahn.com/en/group" target="_blank">Deutsche Bahn Headquarters</a></li>
          <li><a class="talks" href="http://stiemifda.ac.id/" target="_blank">STIE Miftahul Huda Subang</a></li>
          <li><a class="talks" href="http://www.steialamar.ac.id/" target="_blank">STEI Al Amar Subang</a></li>
          <li><a class="talks" href="https://unsub.ac.id/" target="_blank">Universitas Subang</a></li>
          <li><a class="talks" href="http://www.unpad.ac.id/" target="_blank">Universitas Padjajaran</a></li>
          <li><a class="talks" href="https://www.pasundanekspres.co/" target="_blank">Pasundan Express</a></li>
          <li><a class="talks" href="https://bapenda.jabarprov.go.id/cabang-pelayanan-pendapatan-daerah-kabupaten-subang/" target="_blank">Bapenda Subang</a></li>
          <li><a class="talks" href="http://belant.co.id/" target="_blank">PT Belant Persada</a></li>
          <li><a class="talks" href="https://www.indonesiaport.co.id/" target="_blank">PT Pelindo II</a></li>
          <li><a class="talks" href="https://www.jict.co.id//" target="_blank">PT Jakarta International Container Terminal</a></li>
          <li><a class="talks" href="http://digits.feb.unpad.ac.id/" target="_blank">Digits</a></li>
          <li><a class="talks" href="https://indohub.org/" target="_blank">IndoHub</a></li>
           <li><a class="talks" href="https://digitalent.kominfo.go.id/" target="_blank">Digital Talent KOMINFO</a></li>
          
          
          
          
            <!--<li><a class="talks" href="https://docs.google.com/presentation/d/1sO28nIDOk9kgbplwrBjpip7HENLba8m7YQKm6j4bAug/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Keep in mind these 5 things ...</b></a> (Oniris, Nantes).</li>-->
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
