<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="software">
          <span class="fa fa-code fa-lg main-list-item-icon"></span>
          On point ebook & site at work: 
        </h2>
        <br>
        <p class="lead text-left">
          
        </p>
        <ul class="lead text-left">
          <li><a class="software" href="https://drive.google.com/file/d/1SJTfP39ZKaRAsObyOMij9O99YPzATEyM/view" target="_blank"><b>Introducing Microsoft Power BI</b></a></li>
          
          <li><a class="software" href="https://drive.google.com/file/d/1rP1fgkYKkn1iWS0lg9va-qFaJxvuR7yj/view?usp=sharing"><b>Customize data visualizations with Power BI</b></a></li>
          <li><a class="software" href="https://drive.google.com/file/d/1mmkYxni1CrenWNpjbWx-2lYBSSAyAVxF/view?usp=sharing" target="_blank"><b>Advanced Analytics  with Power BI</b></a></li>
         
            <li><a class="software" href="https://msdn.microsoft.com/en-gb/" target="_blank"><b>All microsoft products documentation</b></a></li>
          
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
