<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="software">
          <span class="fa fa-code fa-lg main-list-item-icon"></span>
          On point ebook & site at work: 
        </h2>
        <br>
        <p class="lead text-left">
          
        </p>
        <ul class="lead text-left">
          <li><a class="software" href="https://github.com/gastonstat/plspm" target="_blank"><b>Introducing Microsoft Power BI</b></a></li>
          <li><a class="software" href="https://github.com/gastonstat/plsdepot" target="_blank"><b>Customize data visualizations with Power BI</b></a></li>
          <li><a class="software" href="https://github.com/gastonstat/pathmox" target="_blank"><b>Advanced Analytics  with Power BI</b></a></li>
          <li><a class="software" href="https://github.com/gastonstat/arcdiagram" target="_blank"><b>arcdiagram</b></a> is a minimalist package to help you plot pretty arc diagrams in R.</li>
          <li><a class="software" href="https://github.com/gastonstat/colortools" target="_blank"><b>colortools</b></a> is designed to help users generate color schemes and color palettes.</li>
          <li><a class="software" href="https://github.com/gastonstat/matrixkit" target="_blank"><b>matrixkit</b></a> is an R package that provides a first aid kit for some matrix operations commonly used in multivariate data analysis methods.</li>
          <li><a class="software" href="https://github.com/gastonstat/turner" target="_blank"><b>turner</b></a> provides a set of handy functions to turn vectors (and lists of vectors) into other indexed data structures.</li>
          <li><a class="software" href="https://github.com/gastonstat/tester" target="_blank"><b>tester</b></a> provides human readable functions to test characteristics of some common R objects.</li>
          <li><a class="software" href="https://github.com/gastonstat/cointoss" target="_blank"><b>cointoss</b></a> is a toy package with simple functions for simulating tossing a coin.</li>
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
