<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="talks">
          <span class="fa fa-picture-o fa-lg main-list-item-icon"></span>
          Talks
        </h2>
        <br>
        <p class="lead text-left">
          
        </p>
        <ul class="lead text-left">
         
          <li><a class="talks" href="https://www.htw-berlin.de/" target="_blank"><b>HTW Berlin - University of Applied Sciences</b></a></li>
          <li><a class="talks" href="https://www.omnea.de/" target="_blank"><b>Omnea GmbH</b></a></li>
          <li><a class="talks" href="https://trademachines.com/" target="_blank"><b>Trademachines GmbH</b></a></li>
          <li><a class="talks" href="https://www.htw-berlin.de/einrichtungen/zentrale-hochschulverwaltung/personal/controllingstatistik/" target="_blank"><b>Controlling & Statistics</b></a></li>
           <li><a class="talks" href="https://www.htw-berlin.de/einrichtungen/zentrale-referate/kooperationszentrum-wissenschaft-praxis/" target="_blank"><b>Kooperationszentrum Wissenschaft-Praxis</b></a></li>
          <li><a class="talks" href="http://stiemifda.ac.id/" target="_blank"><b>STIE Miftahul Huda Subang</b></a></li>
          <li><a class="talks" href="http://www.steialamar.ac.id/" target="_blank"><b>STEI Al Amar Subang</b></a></li>
          <li><a class="talks" href="https://unsub.ac.id/" target="_blank"><b>Universitas Subang</b></a></li>
          <li><a class="talks" href="http://www.unpad.ac.id/" target="_blank"><b>Universitas Padjajaran</b></a></li>
          <li><a class="talks" href="https://www.pasundanekspres.co/" target="_blank"><b>Pasundan Express</b></a></li>
          <li><a class="talks" href="https://bapenda.jabarprov.go.id/cabang-pelayanan-pendapatan-daerah-kabupaten-subang/" target="_blank"><b>Bapenda Subang</b></a></li>
          <li><a class="talks" href="http://belant.co.id/" target="_blank"><b>PT Belant Persada</b></a></li>
          <li><a class="talks" href="https://www.indonesiaport.co.id/" target="_blank"><b>PT Pelindo II</b></a></li>
          <li><a class="talks" href="https://www.jict.co.id//" target="_blank"><b>PT Jakarta International Container Terminal</b></a></li>
           <li><a class="talks" href="http://digits.feb.unpad.ac.id/" target="_blank"><b>Digits</b></a></li>
          
          
          
          
            <!--<li><a class="talks" href="https://docs.google.com/presentation/d/1sO28nIDOk9kgbplwrBjpip7HENLba8m7YQKm6j4bAug/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Keep in mind these 5 things ...</b></a> (Oniris, Nantes).</li>-->
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
