<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="talks">
          <span class="fa fa-picture-o fa-lg main-list-item-icon"></span>
          Talks
        </h2>
        <br>
        <p class="lead text-left">
          Slides of some of my presentation at the University.
        </p>
        <ul class="lead text-left">
         
          <li><a class="talks" href="https://itsmecevi.github.io/aggregation-risiko/" target="_blank"><b>Aggregation von Risiko im Banken-DE</b></a></li>
          <li><a class="talks" href="https://itsmecevi.github.io/finanzkrise/" target="_blank"><b>Finanzkrise und Wirtschaftkrise in Deutschland-DE</b></a></li>
          <li><a class="talks" href="https://itsmecevi.github.io/financial-analyst/" target="_blank"><b>Financial Analyst im Banken-DE</b></a></li>
          <li><a class="talks" href="https://itsmecevi.github.io/wertorientierte-unternehmensf-hrung/" target="_blank"><b>Wertorientierte Unternehmensführung-DE</b></a></li>
          <li><a class="talks" href="https://itsmecevi.github.io/businessplan-fitnes-center/" target="_blank"><b>Businessplan-Fitnes Center-DE</b></a></li>
          <!--<li><a class="talks" href="https://docs.google.com/presentation/d/1sO28nIDOk9kgbplwrBjpip7HENLba8m7YQKm6j4bAug/pub?start=false&loop=false&delayms=3000" target="_blank"><b>Keep in mind these 5 things ...</b></a> (Oniris, Nantes).</li>-->
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
