<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  
 <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+4917632811289", // WhatsApp number
            call_to_action: "Feel Free to Contact", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
  
  
  {% include hola.html %}
  {% include projects.html %}
  {% include teaching.html %}
  {% include tutorials.html %}
  {% include blog.html %}
  {% include footer.html %}
  {% include scripts.html %}
  
</body>

</html>
