<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  
  <div style="position:fixed;left:20px;bottom:20px;">
<a href="https://api.whatsapp.com/send?phone=+628123456789&text=Halo">
<button style="background:#32C03C;vertical-align:center;height:36px;border-radius:5px">
<img src="https://web.whatsapp.com/img/favicon/1x/favicon.png"> Whatsapp Kami</button></a>
</div>
  
  
  {% include hola.html %}
  {% include projects.html %}
  {% include blog.html %}
  {% include footer.html %}
  {% include scripts.html %}
  
</body>

</html>
